
.auth-container{
    display: flex;
    width: 100%;
}

.image-container{
    display: none;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 10px;
    background-color: var(--gray-1);
}
.form-container > h1{
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 10px;
}
.form-container > form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 400px;
}

.form-container > form input{
height: 3rem;
border-radius: 5px;
border: none;
padding-left: 20px;
background-color: white;
}

.form-container > form input:focus{
    outline: 2px solid var(--blue-1);
}

.form-container > form input[type="submit"]{
    background-color: var(--blue-1);
    color: white;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

.form-container  > span{
    padding-top: 10px;
    font-size: 1rem;
    text-align: center;
}

.form-container > span > a{
    padding-left: 10px;
    color: var(--blue-1);
    font-weight: 500;
    cursor:pointer;
}

@media (min-width: 1024px) {
    .image-container{
        display: block;
       
    }
    .image-container > img{
        max-height: 100vh;
    }
    
}