.profile-container {
  max-width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: #e8ecf0;
}

.profile-content{
  width: 100%;
  background: #fff;
}


.profile-header {
  display: flex;
  align-items: center;
  position: relative;
  padding: 12px;
}


.profile-header > button{
  padding: 10px;
  cursor: pointer;
}


.profile-header > button > img {
   max-height: 15px;
}


.profile-banner-content {
  position: relative;
}


.profile-banner {
  height: 140px;
  background-color: #00acee;
  border-radius: 8px 8px 0 0;
}


.profile-edit-btn {
 position: absolute;
 bottom: 20px;
 right: 4px;
 max-height:40px;
}


.profile-edit-btn > button {
  background: #fff;
  color: #1f2937;
  font-weight: 700;
  padding: clamp(4px, 0.5vw, 12px) clamp(8px, 2vw, 18px);
  border-radius: 50px;
  border: 2px solid #d1d5db;
  font-size: clamp(12px, 1vw, 16px);
  cursor: pointer;
}

.profile-avatar {
  position: absolute;
  bottom: 0;
  left: 24px;
  transform: translateY(50%);
  background-color: #ffff;
  border-radius: 100%;
  padding: 7px;
}


.profile-avatar-img{
 width: clamp(92px, 8vw, 120px);
  height: clamp(92px, 8vw, 120px);
  border-radius: 100%;
}


.profile-avatar-img > img{
  height: 100%;
  border-radius: 100%;
}


.profile-info {
  position: relative;
  padding: 64px 24px 24px;
  text-align: left;
}


.profile-info > h1 {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  font-weight: 700;
  padding-top: clamp(4px, 0.5vw, 6px);
}

.profile-info p {
  color: #6b7280;
  margin-top: 4px;
  margin-bottom: 0;
  font-size: clamp(0.75rem, 2vw, 1rem);
}

.profile-follow {
  display: flex;
  margin-top: 12px;
  gap: 8px;

}
.profile-follow-item {
  display: flex;
  align-items: center;
  gap: 4px;
}
.profile-follow-item span{
  font-size: clamp(16px,3vh,28px);
}

.profile-follow-count {
  font-weight: 600;
}
.profile-follow-label {
  color: #4b5563;
}
.profile-tab {
  margin-top: 16px;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: center;
}
.profile-tab-btn {
  padding: 12px 16px;
  font-weight: 600;
  border: none;
  border-bottom: 2px solid #3b82f6;
  background: none;
  cursor: pointer;
  font-size: 16px;
}


.profile-tweets {
  padding-bottom: 16px;
}
.tweet-card {
  border: 1px solid #e5e7eb;
  border-radius: 24px;
  background: #fff;
  margin-bottom: 16px;
}
.tweet-content {
  padding: 16px;
}
.tweet-header {
  display: flex;
  align-items: center;
  gap: 12px;
}
.tweet-avatar {
  background: #d1d5db;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.tweet-avatar > img{
  height: 100%;
}

.tweet-header-info {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 4px;
}
.tweet-name {
  font-weight: 700;
}
.tweet-username {
  color: #6b7280;
  margin-left: 10px;
}
.tweet-text {
  margin-top: 10px;
  padding: 5px;
}
.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.tweet-actions {
  display: flex;
  gap: clamp(18px,2vw,24px);
}
.tweet-action-btn {
  height: 30px;
  width: 30px;
  padding: 5px;
  cursor: pointer;
}

.tweet-action-btn > img {
  height: 100%;
}
.tweet-action-btn:hover {
  border-radius: 100%;
  background-color: #00abee23;
}
#delete-tweet:hover{
  background-color: #ff000023;
}
.tweet-date {
  color: #6b7280;
  font-size: 14px;
}
.update-profile-container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
}
.update-profile-back-button{
  position: absolute;
  top: 24px;
  left: 24px;
  cursor: pointer;
}
.update-profile-back-button > img{
  height: 24px;
}
.update-profile-form{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 1024px){
  .profile-container{
    display: flex;
    justify-content: center;
  }


  .profile-content{
      width: 80%;
     margin-top: 12px;
     border-radius: 16px;
  }


  .profile-header > button > img {
    max-height: 20px;
 }


 .profile-banner{
  height: 180px;
  border-radius: 16px 16px 0 0;
 }
}


@media (min-width:768px){
  .profile-edit-btn {
  position: absolute;
  top: 20px;
  right: 12px
}
}
 


